body{
    background-color: #a9a9a9;
}

.headerdiv{
    background-color: #54d254;
    padding: .5%;
    padding-top: 2vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
    height: 10vw;
    top: 0;
}

.headerdiv h1{
    font-family: 'Cinzel Decorative';
    font-size: 4vw;
    margin-top: -2vh;
    margin-left: 19vh;
    padding-right: 35vw;
    text-shadow: black 1px 0 10px;
}

.headerdiv img{
    width: 7vw;
    height: 7vh;
    position: absolute;
    right: 15px;

    margin-top: -2vh;
}

.nestedheaderdiv{
    display: flex;
    margin-left: 10vw;
}


.headerdiv ul{
    display: flex;
    background-color: #29e929;
    padding: 1vw;
    padding-left: 2vw;
    margin-top: -2vh;

}



.headerdiv a{
    text-decoration: none;
    color: black;

}

.headerdiv li{
    list-style: none;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2vw;
    font-family: 'Roboto Condensed';

}

.WelcomeDiv{
    background-color:#54d254;
    padding: 1vw;
    height: 60vh;
    display: flex;
    margin-bottom: 2vh;

}


.WelcomeMessage{
    background-color: #29e929;
    height: 57vh;
    margin-right: 1vw;
    width: 123vw;
    padding: 1%;
}

.WelcomeMessage h2{
    font-size: 3vw;
    font-family: 'Cinzel Decorative';
    text-align: center;
}

.WelcomeMessage p{
    font-size: 1.5vw;
}


.FavouritePhoto{
    background-color: #29e929;
    height: 60vh;
    text-align: center;
}

.FavouritePhoto img{
    width: 12vw;
    height: 18vh;
}

.FavouritePhotodiv{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-top: -1vw;
    
}

.FavouritePhoto h2{
    font-size: 3vw;
    font-family: 'Cinzel Decorative';
}

.FooterDiv{
    background-color: #54d254;
    bottom: -20vh;
    padding-top: 1vh;
    padding-left: 1vh;
}

.FooterDiv p{
    font-size: 2vh;
    font-family: 'Roboto Condensed';
    margin-top: 1vh;
    margin-right: 2vh;
    padding-bottom: 3px;
    margin-bottom: -3px;

}

